<nav class="navbar fixed-bottom navbar-light bg-light flex-column foot">
{%- if site.show-style-guide %}
<!--
<div class="col-12 col-md-4">
<p class="nav-link footertitel">Aju Paraplu</p>
<p class="nav-link footer">Aju Paraplu, C Copyright 2017</p>
<p class="nav-link active footer" href="index.html">Home</p>
<p class="nav-link active footer" href="reserveren.html">Reserveren</p>
<p class="nav-link active footer" href="winkelmandje.html">Winkelmandje</p>
<p class="nav-link active footer" href="overons.html">Over ons</p>
<p class="nav-link active footer" href="contact.html">Contact</p>
</div>

<div class="col-12 col-md-4">
    Social Media
    <ul>
        <li>
            Facebook
        </li>
        <li>
            Twitter
        </li>
        <li>
            Instagram
        </li>
        <li>
            Youtube
        </li>
    </ul>
</div>
-->

{%- endif %}
</nav>
