.header{
    max-height: 100%;
    width: auto;
}

.end{
    padding-bottom: 50px;
}

.footer1{
    position: absolute;
    padding: 50px;
    width: 100%;
}

//contact//
.adres{
    margin-bottom: 1px;
}
.adres1{
    padding-left: 20px;
}
