.header{
    max-height: 100%;
    width: auto;
    margin-bottom: 50px;
}

.end{
    padding-bottom: 50px;
}

.footer1{
    position: absolute;
    padding: 50px;
    width: 100%;
}

h1{
    font-family: 'Gilda Display', serif;
    margin-bottom: 30px;
}

h3{
    font-family: 'Gilda Display', serif;
    color: white;
    margin-bottom: 30px;
}
p{
    line-height: 25pt;
}
//contact//
.adres{
    margin-bottom: 1px;
}
.adres1{
    padding-left: 35px;
}

//navigatie//
.navbar-marge{
    float: right;
}

//footer//
.footer{
    color: white;
}
.footer:hover{
    color: #eff3ed;
}
.aju{
    color: #929292;
}
.fa{
    margin-right: 15px;
}
.fa-2x{
    color: white;
}
.fa-2x:hover{
    color: #eff3ed;
}

//button//
.btn{
    color: #929292;
    margin-top: 20px;
}
.btn:hover{
    background-color: #a9bec1;
}

//winkelmandje//
.card-img-top{
    margin-bottom: 20px;
}

.card-body{
    background-color: #eff3ed;
    border-top:  5px solid #cdd5ca;
    text-align: center;
}

.card-body2{
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #eff3ed;
    text-align: center;
}

.card-title{
    font-size: 35px;
    text-align: center;
}

.list-group-item{
    background-color: #eff3ed;
    text-align: center;
}

.card-link{
    color: #929292;
}

.card-link:hover{
    color: #a9bec1;
}

//reserveren//
.reservatie{
    font-size: 20px;
}


