.header{
    max-height: 100%;
    width: auto;
}

.end{
    padding-bottom: 50px;
}

.footer1{
    position: absolute;
    padding: 50px;
    width: 100%;
}

h1{
    font-family: 'Gilda Display', serif;
}

h3{
    font-family: 'Gilda Display', serif;
    color: white;
}
//contact//
.adres{
    margin-bottom: 1px;
}
.adres1{
    padding-left: 35px;
}

//footer//
.fa{
    margin-right: 15px;
}
.fa-2x{
    color: white;
}
.fa-2x:hover{
    color: #eff3ed;
}